@model HomeViewModel

<partial name="_Carousel" />

<h2>Em alta</h2>
<div class="row">
    @foreach (var shirt in Model.FavoritesShirts)
    {
        <partial for="@shirt" name="_Shirt" />
    }
</div>
